@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: var(--bg);
	color: var(--fg);
	display: flex;
	text-align: center;
	flex-direction: column;
}

html,
body {
	min-height: 100vh;
}

:root {
	--team-color: #ff5a00;
	--bg: #eee;
	--fg: #222;
	--container: #ccc;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #222;
		--fg: #eee;
		--container: #333;
	}
}

address a,
i {
	color: var(--team-color);
	vertical-align: middle;
	line-height: 100%;
	font-size: inherit;
	margin-right: .2ch;
}

.logo {
	padding: 1ch;
}
.logo .text {
	fill: var(--fg);
	transition: fill .5s;
}

.logo:hover .text {
	fill: var(--team-color);
}

#footer {
	margin-top: 2vmax;
	padding: 2vmax;
	background: var(--container);
}

#footer address {
	width: 100%;
}

#footer ul {
	list-style: none;
	justify-content: space-between;
	font-style: normal;
	display: flex;
	gap: 2ch;
}

p {
	max-width: 75%;
	margin: auto;
	line-height: 1.5;
}

@media (max-width: 1000px) {

	#footer,
	#footer ul {
		gap: 2ch;
		text-align: center;
		flex-direction: column;
	}
}

.main-image {
	margin: 3vmax auto;
}

.main-image img {
	width: 60%;
	margin-bottom: 1vmax;
	border-radius: 8px;
}

#main-nav {
	display: flex;
	margin: 2vmax;
	align-items: center;
	justify-content: space-between;
}
#main-nav ul {
	display: flex;
	gap: 2ch;
	border-radius: 8px;
	list-style: none;
	border: 2px solid var(--container);
}
#main-nav a {
	padding: 2vmax;
	display: block;
	width: 100%;
	color: var(--fg);
	text-decoration: none;
}
#main-nav a:hover {
	background: var(--team-color);
	color: var(--fg);
}
.dropdown {
	position: relative;
}
.dropdown ul {
	position: absolute;
	vertical-align: top;
	margin-top: 1vmax;
	background: var(--bg);
	pointer-events: none;
	z-index: 2;
	flex-direction: column;
	display: none;
	opacity: 0;
	transition: opacity .2s;
}
.dropdown:hover ul, .dropdown ul:hover {
	opacity: 1;
	display: block;
	pointer-events: auto;
}
