@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto.ttf");
}

@font-face {
    font-family: 'ROG Fonts';
    src: url("/fonts/ROG FONTS.otf");
    font-weight: 100;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2;
}

body {
    font-family: "Roboto", sans-serif;
    <p style="letter-spacing: 3px;"></p>
    font-size: 1.5vmax;
    background: var(--bg);
    color: var(--fg);
    /* Make room for header/footer and allocate remaining space to content */
    display: grid;
    grid-template: auto 1fr auto / 100%;
}

/* Ensure page always fits screen (so footer stays at bottom) */
html,
body {
    min-height: 100vh;
}

:root {
    --team-color: #ff5a00;
    --bg: #eee;
    --fg: #222;
    --container: #ccc;
}

.content-container {


    margin: 5vmax;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #222;
        --fg: #eee;
        --container: #333;
    }
}

.main-image img {
    width: 60%;
    border-radius: 8px;

}

table, thead {
    padding: 1ch;
    margin: auto;
    border: 2px solid var(--container);
    border-collapse: collapse;
}

td {
    padding: 1ch;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-family: "ROG Fonts", sans-serif;
}

a, i {
    color: var(--team-color);
}

i {
    vertical-align: middle;
    margin-right: .2ch;
}

.countdown {
    padding: 2vmax;
    background: var(--container);
    border-radius: 8px;
    margin: 2vmax;
    outline: 2px solid var(--team-color);
}




@media (prefers-reduced-motion: no-preference) {
    .countdown {
        animation: pulseShadow 5s linear forwards alternate infinite;
    }

    @keyframes pulseShadow {
         0%, 100% {
             box-shadow: 0 0 16px transparent;
         }
         50% {
             box-shadow: 0 0 16px var(--team-color);
         }
     }
}