<!DOCTYPE html>
<html lang="en">
<head>

	<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Team 1091</title>
	<!--suppress HtmlUnknownTarget -->
	<link rel="favicon" href="images/newBird.ico" />

	<meta name="charset" content="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Feb 16, 2025 8:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count-down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

<body>
	<nav id="main-nav">
		<div class="logo">
			<a href="/">
				<picture>
					<source srcset="/images/logo-dark.png" media="(prefers-color-scheme: dark)"/>
					<img src="/images/logo-light.png" alt=""/>
				</picture>
			</a>
		</div>
		<ul>
			<li class="dropdown">
				<a href="/teamInfo" id="navbarDropdown1" role="Button">
					Team Information
				</a>
				<ul aria-labelledby="navbarDropdown1">
					<li><a href="/sponsors">Sponsors</a></li>
					<li><a href="/calendar">Calendar</a></li>
					<li><a href="/buildSeason">Build Updates</a></li>
					<li><a href="/galleryOfRobots">Gallery Of Robots</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="/outreach" id="navbarDropdown2" role="Button">
					Outreach
				</a>
				<ul aria-labelledby="navbarDropdown2">
					<li><a href="/fll">FLL</a></li>
					<li><a href="/legoClub">Lego Club</a></li>
				</ul>
			</li>
			<li><a href="/resources">Resources</a></li>
			<li><a href="#footer">Contact</a></li>
		</ul>
		<div class = countDown>
			<h1>Countdown to Sussex</h1>
			<div id="timer"></div>
		</div>
	</nav>
	<div class="content-container">
		{{ content }}
	</div>
	<footer id="footer">
		<address>
			<ul>
				<li><i class="bx bx-envelope"></i><a href="mailto:frcteam1091@gmail.com"
						target="_blank">frcteam1091@gmail.com</a></li>
				<li><i class="bx bxl-facebook"></i><a href="https://www.facebook.com/frcteam1091/"
						target="_blank">@frcteam1091</a></li>
				<li><i class="bx bxl-instagram"></i><a href="https://www.instagram.com/frcteam1091/"
						target="_blank">@frcteam1091</a></li>
				<li><i class="bx bxl-youtube"></i><a href="https://www.youtube.com/Team1091HUHS"
						target="_blank">@Team1091HUHS</a></li>
				<li><i class="bx bx-help-circle"></i><a
						href="https://docs.google.com/forms/d/e/1FAIpQLSeF2hcI4rTuc5765RXfDuWxjNU2jur1MKMT2-qS5NgRW3_7aw/viewform"
						target="_blank">Feedback</a></li>
			</ul>
		</address>
	</footer>
</body>

</html>
