<!DOCTYPE html>
<html>

<head>
	<title>{% if page.title %}{{ page.title }} ▬ {% endif %}Team 1091</title>
	<meta name="charset" value="utf-8">
	<meta name="viewport" value="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<nav id="main-nav">
		<div class="logo">
			<h1>Logo Here</h1>
		</div>
		<ul>
			<li class="dropdown">
				<a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="/teamInfo" id="navbarDropdown"
				   role="Button">
					Team Information
				</a>
				<div aria-labelledby="navbarDropdown" class="dropdown-menu">
					<a class="dropdown-item" href="/sponsors">Sponsors</a>
					<a class="dropdown-item" href="/calendar">Calendar</a>
					<a class="dropdown-item" href="/buildSeason">Build Updates</a>
					<a class="dropdown-item" href="/galleryOfRobots">Gallery Of Robots</a>
				</div>
			</li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/resources">Resources</a></li>
			<li><a href="#footer">Contact</a></li>
		</ul>
	</nav>
	{{ content }}
	<footer id="footer">
		<address>
			<ul>
				<li><i class="bx bx-envelope"></i><a href="mailto:frcteam1091@gmail.com"
						target="_blank">frcteam1091@gmail.com</a></li>
				<li><i class="bx bxl-facebook"></i><a href="https://www.facebook.com/frcteam1091/"
						target="_blank">@frcteam1091</a></li>
				<li><i class="bx bxl-instagram"></i><a href="https://www.instagram.com/frcteam1091/"
						target="_blank">@frcteam1091</a></li>
				<li><i class="bx bxl-youtube"></i><a href="https://www.youtube.com/Team1091HUHS"
						target="_blank">@Team1091HUHS</a></li>
				<li><i class="bx bx-help-circle"></i><a
						href="https://docs.google.com/forms/d/e/1FAIpQLSeF2hcI4rTuc5765RXfDuWxjNU2jur1MKMT2-qS5NgRW3_7aw/viewform"
						target="_blank">Feedback</a></li>
			</ul>
		</address>
	</footer>
</body>

</html>