<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7W37CPGSQJ"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7W37CPGSQJ');
</script>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page.title }} | Team 1091 | Oriole Assault</title>
    <meta charset="utf-8" content="text/html">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" href="/images/newBird.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/main.js"></script>
    <style>
        p, h1, h2, h3, h4, h5, h6 {
            font: "Trebuchet MS", Helvetica, sans-serif
        }
    </style>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-light">
            <ul class="navbar-nav nav-fill w-100">

                <li class="nav-item">
                    <a class="nav-link" href="/" style="color:#000000">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/frc" style="color:#000000">FRC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sponsors" style="color:#000000">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/buildSeason" style="color:#000000">Build Updates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/join" style="color:#000000">Join the Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/programming" style="color:#000000">Programming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galleryOfRobots" style="color:#000000">Gallery Of Robots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fll" style="color:#000000">First Lego League</a>
                </li>
                <Li class="nav-item">
                    <a class="nav-link" href="/communityInvolvement" style="color:#000000">Community Involvement</a>
                </Li>
                <Li class="nav-item">
                    <a class="nav-link" href="/social-media" style="color:#000000">Social Media</a>
                </Li>
                <Li class="nav-item">
                    <a class="nav-link" href="/calendar" style="color:#000000">Calendar</a>
                </Li>
            </ul>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-12">

            {{ content }}

        </div>
    </div>
</div>
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <p class="col-10">Team 1091 Oriole Assault</p>
            <div class="col-2">
                <a class="fab m-2 fa-facebook-f" href="https://facebook.com/frcteam1091"></a>
                <a class="fab m-2 fa-twitter-square" href="https://twitter.com/HUHS_Robotics"></a>
                <a class="fab m-2 fa-instagram" href="https://instagram.com/frcteam1091"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
